html{
    scroll-behavior: smooth;
}
body{
    color: #FFFFFF;
    margin: 0 auto;
    font-family: variables.$main-font;
    box-sizing: border-box;
}
.main{
    width:100%;
    max-width: 1773px;
    margin: 0 auto;
}
h1{
    font-size: 48;
    font-weight: bold;
    color: #FFFFFF;
}
h2{
    font-family: variables.$secondary-font;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
}
p{
    font-size: 16;
    color: #E8E8E8;
    line-height: 26px;
}
button{
    width: 100%;
    font-family: variables.$secondary-font;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: variables.$theme-color;
    padding: 20px;
    border: none;
    text-transform: uppercase;
}
button:hover{
    background-color: purple;
}
button:focus{
    background-color: lightblue;
}