.cont-b{
    width: 100%;
    max-width: 1773px;
    min-height: 685px;
    margin: 0 auto;
    background-image: url(/images/castle_w.jpg);
    
    &__wrapper{
        width: 100%;
        max-width: 1113px;
        min-height:685px;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__box{
        width: 50%;
        max-width: 560px;
        min-height: 500px;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    &__title{
        width: 100%;
        max-width: 288px;
        font-size: 36px;
        font-weight: 300;
        font-family: variables.$secondary-font;
    }
    &__text{
        min-height: 158px;
    }
}
.cont-b__btn{
    max-width: 228px;
    min-height: 63px;
    text-transform: uppercase;
}
.cont-b__images{
    width: 50%;
    max-width: 560px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}
.cont-b__imga, .cont-b__imgb{
    width: 100%;
    max-width: 350px;
    min-height: 220px;
}
.cont-b__imgb{
    display: flex;
    align-self: flex-end;
}

